body {
	background-image: url("Images/background.png");

}

header {
    color: orange;
    font-family: "Helvetica";
    font-size: 60px;
    width: 850px;
    margin: 0 auto;
    
}

bottomText{
	font-family: "Helvetica";
	font-size: 15px;
	padding-bottom: 20px;
	color: #f6b33d;
}

.button3 {
	background-color:#f6b33d;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:170px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cd8a15;
}

.button3:hover {
	background-color:#DBA036;
}

.button3:active {
	position:relative;
	top:1px;
}

page-wrap{
	width: 850px;
	margin: 0 auto;
}

bodyTitle{
	font-family: Helvetica;
	font-size: 40px;
	font-color: #222222;
	text-align: center;
}

bodyText{
	font-family: Helvetica;
	font-size: 25px;
	font-color: #222222;
}

a {text-decoration:none}

a.bodyTextLink:link, a.bodyTextLink:visited {color: #222222;}
a.bodyTextLink:hover{color: #f6b33d;}

a.bottomTextLink:link, a.bottomTextLink:visited {color:#f6b33d;}
a.bottomTextLink:hover {color:#FFFFFF;}
